In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('data_no_invalid_rows.csv')
df

,date,title,experience,location,salary,bonus,industry,benefits
0,2021-06-01,"Data Pipeline - Business Side, Sr. Manager",15+ years,"LCOL, US",150K,25%,NaN,NaN
1,2021-06-01,Data Engineer,2.5 years as a DE (3 months of that was an int...,100% Remote; company is based out of a low cos...,"130,000USD",10% annual bonus (among other benefits),NaN,NaN
2,2021-06-01,Data Engineering Consultant,0.5 years,London,£32K,NaN,NaN,NaN
3,2021-06-01,ETL Developer,1.5 years,Belarus,$15k USD,NaN,NaN,NaN
4,2021-06-01,Sr Data Engineer,7 years professional experience. 2 in data eng...,Los Angeles,"$125,000 base salary","$12,500 bonus target + $10,000 RSU/year",Online gambling,NaN
...,...,...,...,...,...,...,...,...
299,2022-06-01,Senior Data Engineer,"5, coming on 6",Seattle (but remote mainly),$165k base,"Annual bonus ($25k signing bonus), some equity...",Media,"AWS, Airflow, Spark, some other DevOps tools"
300,2022-06-01,Data Engineer,"1 in role, 2 months in DS internship about 6 m...",Virginia (hcol),102k USD,"Paltry bonus- 10% 401k contrib, full healthcar...",Government,"Python, sql, unfortunately no cloud resources lol"
301,2022-06-01,Data Engineer,8 Years as a BI Dev 2 Years Data Engineer,London UK,"80,000 GBP before Tax",Upto 15% Bonus,Asset Management,"SQL, Azure Data Factory, Python (just a little..."
302,2022-06-01,title: Data Engineer 1,location: Michigan (remote CA company),location: Michigan (remote CA company),pay: 145k base,bonus: 10% base/yr + 10k rsu sign on,industry: cannabis,"stack/libs: Python, Pandas, postgresql, boto3,..."
303,2022-06-01,Data Engineer I,"6 months as DE, 5 years with data total",SF,"$87,000","$1,000",Non-profit org,"Python, MySQL, AWS, R, Ruby"

In [7]:
# lowercase, remove brackets
df.title = df.title.str.lower().str.replace(
    r"\(.*\)", "").str.replace(r".*\)", "")
df.experience = df.experience.str.lower().str.replace(
    r"\(.*\)", "").str.replace(r".*\)", "")
df.location = df.location.str.lower().str.replace(
    r"\(.*\)", "").str.replace(r".*\)", "")
df.salary = df.salary.str.replace(r"\(.*\)", "").str.replace(r".*\)", "")
df.bonus = df.bonus.str.lower().str.replace(
    r"\(.*\)", "").str.replace(r".*\)", "")
df.industry = df.industry.str.lower().str.replace(
    r"\(.*\)", "").str.replace(r".*\)", "")
df.benefits = df.benefits.str.lower().str.replace(
    r"\(.*\)", "").str.replace(r".*\)", "")

/var/folders/l7/m69bgsp16830cvfm6973p2h00000gn/T/ipykernel_64264/2228083997.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df.title = df.title.str.lower().str.replace(
/var/folders/l7/m69bgsp16830cvfm6973p2h00000gn/T/ipykernel_64264/2228083997.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df.experience = df.experience.str.lower().str.replace(
/var/folders/l7/m69bgsp16830cvfm6973p2h00000gn/T/ipykernel_64264/2228083997.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df.location = df.location.str.lower().str.replace(
/var/folders/l7/m69bgsp16830cvfm6973p2h00000gn/T/ipykernel_64264/2228083997.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  df.salary = df.salary.str.replace(r"\(.*\)", "").str.replace(r".*\)", "")
/var/folders/l7/m69bgsp16830cvfm6973p2h00000gn/T/ipykernel_64264/2228083997.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  df.bonus = df.bonus.str.lower().str.replace(
/var/folders/l7/m69bgsp16830cvfm6973p2h00000gn/T/ipykernel_64264/2228083997.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  df.industry = df.industry.str.lower().str.replace(
/var/folders/l7/m69bgsp16830cvfm6973p2h00000gn/T/ipykernel_64264/2228083997.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  df.benefits = df.benefits.str.lower().str.replace(

In [8]:
# remove "." and "," and "-" and "/" from titles
df.title = df.title.str.replace(r"\.", "").str.replace(
    r",", "").str.replace(r"-", "").str.replace(r"/", "")
# replace "sr " with "senior " and "jr" with "junior" in titles
df.title = df.title.str.replace(
    r"sr ", "senior ").str.replace(r"jr ", "junior ")
# remove "title:"   from titles
df.title = df.title.str.replace(r"title:", "").str.replace(r"title", "")
# replace "de " with "data engineer " in titles
df.title = df.title.str.replace(r"de ", "data engineer ")

# replace "de" with "data engineer" in titles when at the end of the string
df.title = df.title.str.replace(r"de$", "data engineer")
# replace "business intelligence" with "bi" in titles
df.title = df.title.str.replace(r"business intelligence", "bi")
# replace numbers with lowercase romans in titles
df.title = df.title.str.replace(r"1", "i").str.replace(r"2", "ii").str.replace(r"3", "iii").str.replace(r"4", "iv").str.replace(
    r"5", "v").str.replace(r"6", "vi").str.replace(r"7", "vii").str.replace(r"8", "viii").str.replace(r"9", "ix").str.replace(r"10", "x")

# trim whitespace from titles
df.title = df.title.str.strip()

/var/folders/l7/m69bgsp16830cvfm6973p2h00000gn/T/ipykernel_64264/814641364.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df.title = df.title.str.replace(r"\.", "").str.replace(
/var/folders/l7/m69bgsp16830cvfm6973p2h00000gn/T/ipykernel_64264/814641364.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  df.title = df.title.str.replace(r"de$", "data engineer")

In [10]:
df

,date,title,experience,location,salary,bonus,industry,benefits
0,2021-06-01,data pipeline business sidata engineer senior...,15+ years,"lcol, us",150K,25%,NaN,NaN
1,2021-06-01,data engineer,2.5 years as a de,100% remote; company is based out of a low cos...,"130,000USD",10% annual bonus,NaN,NaN
2,2021-06-01,data engineering consultant,0.5 years,london,£32K,NaN,NaN,NaN
3,2021-06-01,etl developer,1.5 years,belarus,$15k USD,NaN,NaN,NaN
4,2021-06-01,senior data engineer,7 years professional experience. 2 in data eng...,los angeles,"$125,000 base salary","$12,500 bonus target + $10,000 rsu/year",online gambling,NaN
...,...,...,...,...,...,...,...,...
299,2022-06-01,senior data engineer,"5, coming on 6",seattle,$165k base,"annual bonus , some equity package i can't rem...",media,"aws, airflow, spark, some other devops tools"
300,2022-06-01,data engineer,"1 in role, 2 months in ds internship about 6 m...",virginia,102k USD,"paltry bonus- 10% 401k contrib, full healthcar...",government,"python, sql, unfortunately no cloud resources lol"
301,2022-06-01,data engineer,8 years as a bi dev 2 years data engineer,london uk,"80,000 GBP before Tax",upto 15% bonus,asset management,"sql, azure data factory, python"
302,2022-06-01,data engineer i,location: michigan,location: michigan,pay: 145k base,bonus: 10% base/yr + 10k rsu sign on,industry: cannabis,"stack/libs: python, pandas, postgresql, boto3,..."
303,2022-06-01,data engineer i,"6 months as de, 5 years with data total",sf,"$87,000","$1,000",non-profit org,"python, mysql, aws, r, ruby"

In [11]:
# remove "years of experience" from experience
df['experience_pre_clean'] = df.experience.str.replace(
    r"years of experience", "")
# remove non numeric characters except "."" or "," from experience, convert to numeric
df['experience_clean'] = df.experience_pre_clean.str[0:7].str.replace(
    r"[^0-9\.,]", "").str.replace(r", ", "")


# try to convert to numeric
df['experience_clean'] = pd.to_numeric(df['experience_clean'], errors='coerce')
# if df.experience contains "month" then divide df.experience_clean by 12
df['experience_clean'] = df.experience_clean.where(df.experience.str.contains(
    "month") == False, df.experience_clean/12.0, errors='ignore')
# if experience_clean > 40 then replace with Null
df['experience_clean'] = df.experience_clean.where(
    df.experience_clean <= 40, None)

/var/folders/l7/m69bgsp16830cvfm6973p2h00000gn/T/ipykernel_64264/3879029560.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df['experience_clean'] = df.experience_pre_clean.str[0:7].str.replace(

In [12]:
# remove non numeric characters except "." from salary, convert to numeric
df['salary_clean'] = pd.to_numeric(df.salary.str[0:12].str.replace(r"[^0-9\.]", ""), errors='coerce')
# multiply by 1000 if contains k
df['salary_clean'] = df.salary_clean.where(
    df.salary.str.contains("k") == False, df.salary_clean*1000, errors='ignore').where(
        df.salary.str.contains("K ") == False, df.salary_clean*1000, errors='ignore').where(
            df.salary.str.contains("K ") == False, df.salary_clean*1000, errors='ignore').where(
                df.salary.str.contains("K$") == False, df.salary_clean*1000, errors='ignore').where(
                    df.salary.str.contains("mon") == False, df.salary_clean*12, errors='ignore').where(
                        df.salary.str.contains("/mo") == False, df.salary_clean*12, errors='ignore')
                    


df['salary_clean'] = df.salary_clean.where(df.salary.str.contains("L") == False, df.salary_clean*100000, errors='ignore')

/var/folders/l7/m69bgsp16830cvfm6973p2h00000gn/T/ipykernel_64264/1328287894.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['salary_clean'] = pd.to_numeric(df.salary.str[0:12].str.replace(r"[^0-9\.]", ""), errors='coerce')

In [13]:
# if salary contains currency symbol eg EUR GBP USD AUD INR then extract it
df['salary_currency'] = df.salary.where(
    df.salary.str.contains("$") == False, "USD").where(
        df.salary.str.contains("USD") == False, "USD").where(
            df.salary.str.contains("US") == False, "USD").where(
                df.salary.str.contains("\$") == False, "USD").where(
                    df.salary.str.contains("usd") == False, "USD").where(
                        df.salary.str.contains("GBP") == False, "GBP").where(
                            df.salary.str.contains("£") == False, "GBP").where(
                                df.salary.str.contains("AUD") == False, "AUD").where(
                                    df.salary.str.contains("INR") == False, "INR").where(
                                        df.salary.str.contains("EUR") == False, "EUR").where(
                                            df.salary.str.contains("Euro") == False, "EUR").where(
                                                df.salary.str.contains("euro") == False, "EUR").where(
                                                    df.salary.str.contains("€") == False, "EUR").where(
                                                        df.salary.str.contains("CAD") == False, "CAD").where(
                                                            df.salary.str.contains("Rupee") == False, "INR").where(
                                                                df.salary.str.contains("Lakh") == False, "INR").where(
                                                                df.salary.str.contains("CHF") == False, "CHF").where(
                                                                    df.salary.str.contains("NOK") == False, "NOK").where(
                                                                        df.salary.str.contains("HKD") == False, "HKD").where(
                                                                            df.salary.str.contains("MXN") == False, "MXN").where(
                                                                                df.salary.str.contains("PHP") == False, "PHP").where(
                                                                                    df.salary.str.contains("COP") == False, "COP")

                                                            

# view only salary and salary_clean
df[['salary', 'salary_clean', 'salary_currency']].iloc[100:160, :]

                                       salary  salary_clean salary_currency
100                $220k annual equity target      220000.0             USD
101                          160,000 USD base      160000.0             USD
102                                93,000 CHF       93000.0             CHF
103      120k USD FTE and side work at $55/hr      120000.0             USD
104                                $110k base      110000.0             USD
105                                  72k Base       72000.0             USD
106                                     £48K        48000.0             GBP
107                                   90k CAD       90000.0             CAD
108                         $137,000 USD Base      137000.0             USD
109                                  ~$70.000          70.0             USD
110                                 ~180k CAD      180000.0             CAD
111                                       90k       90000.0             USD
112  41k GBP / 56.k USD / 47.7k Euros salary.     4156000.0             EUR
113                               Kansas City           NaN             USD
114                              25k Base USD       25000.0             USD
115                                 140k base      140000.0             USD
116   45k EUR/year for 32hours/week part-time       45000.0             EUR
117                                $200k base      200000.0             USD
118             AUD $110,000 + superannuation      110000.0             AUD
119                                   CA$160K      160000.0             USD
120                                 90k usd .       90000.0             USD
121                                     $145k      145000.0             USD
122                                   45k USD       45000.0             USD
123                                     $123k      123000.0             USD
124                                  190k USD      190000.0             USD
125                               90K salary        90000.0             USD
126                                   90k CAD       90000.0             CAD
127                                      205K      205000.0             USD
128                                    95k/yr       95000.0             USD
129                                   39k USD       39000.0             USD
130                                Base: $90k       90000.0             USD
131                                 $133k USD      133000.0             USD
132                                   80k CAD       80000.0             CAD
133                              $140,000 USD      140000.0             USD
134                                   $80,000       80000.0             USD
135                             $178,000 CAD       178000.0             CAD
136                                    72.00€          72.0             EUR
137                                  53,000€        53000.0             EUR
138                               120,000 USD      120000.0             USD
139                   Base salary - $150k USD           NaN             USD
140  100k. Hourly. No other benefits provided      100000.0             USD
141                                 $180k USD      180000.0             USD
142                               160,000 USD      160000.0             USD
143                                      117k      117000.0             USD
144                              $100,000 USD      100000.0             USD
145                                 $100k usd      100000.0             USD
146                        650.000 NOK / year      650000.0             NOK
147                                 R$9500/mo      114000.0             USD
148                           60k USD anually       60000.0             USD
149                                  90k euro       90000.0             EUR
150                                    46,5K€         465.0             EUR
151                                  $140,000      140000.0             USD
152                6. Manufacturing/Chemicals           6.0             USD
153                                    £120k       120000.0             GBP
154                       Completely Remote.            NaN             USD
155                              $80 per hour          80.0             USD
156                                  170k USD      170000.0             USD
157                                  19400 €        19400.0             EUR
158                                  $65k USD       65000.0             USD
159                                $135k base      135000.0             USD

In [14]:
# group df by salary_currency and count the number of rows
df.groupby('salary_currency').count().sort_values(by='date', ascending=False)

,date,title,experience,location,salary,bonus,industry,benefits,experience_pre_clean,experience_clean,salary_clean
salary_currency,,,,,,,,,,,
USD,214,214,214,214,214,197,168,53,214,187,199
EUR,26,26,26,26,26,25,22,7,26,24,25
GBP,25,25,25,25,25,23,18,10,25,23,21
CAD,15,15,15,15,15,14,12,6,15,15,15
COP,8,8,8,8,2,2,2,1,8,2,1
INR,6,6,6,6,6,3,2,0,6,5,6
AUD,5,5,5,5,5,3,3,1,5,5,5
CHF,1,1,1,1,1,1,0,0,1,1,1
HKD,1,1,1,1,1,0,1,1,1,1,1
MXN,1,1,1,1,1,1,1,1,1,1,1
NOK,1,1,1,1,1,1,0,0,1,1,1
PHP,1,1,1,1,1,1,1,0,1,1,1

In [15]:
df[df['salary_currency']=='PHP']

,date,title,experience,location,salary,bonus,industry,benefits,experience_pre_clean,experience_clean,salary_clean,salary_currency
287,2022-06-01,data engineer,3 yoe,"manila, philippines",780k PHP or 15.6k USD,65k php or 1.3k usd,"python, sql, rds, dms, kinesis, lambda , s3, g...",NaN,3 yoe,3.0,780000.0,PHP

In [16]:
from forex_python.converter import CurrencyRates
# get current fx rates for USD to EUR GBP CAD HKD AUD INR CHF NOK
fx = CurrencyRates()
rates = fx.get_rates('USD')

# convert rates to df
rates_df = pd.DataFrame(rates, index=[0])
# swap columns and rows
rates_df = rates_df.T
rates_df.columns = ['FX']
#add row for USD to USD
rates_df.loc['USD'] = 1

# join rates_df to df on currency, using left join

df_joined = pd.merge(df, rates_df, left_on='salary_currency', right_index=True, how='left')

In [17]:
# calculate salary_usd by multiplying salary_clean by fx
df_joined['salary_usd'] = df_joined.salary_clean / df_joined.FX

In [18]:
import plotly.express as px

# plot distribution of salary_usd
px.histogram(df_joined, x='salary_usd', nbins=100)

In [19]:
df_joined.loc[df_joined.salary_usd > 300000, :].sort_values(by='salary_usd', ascending=False)

,date,title,experience,location,salary,bonus,industry,benefits,experience_pre_clean,experience_clean,salary_clean,salary_currency,FX,salary_usd
38,2021-06-01,senior data engineer,5-,"bangalore, india",30 Lakhs ~41k USD,0,retail,NaN,5-,5.0,3.041000e+11,INR,78.071635,3.895141e+09
183,2021-12-01,data analyst working on a change to data engi...,2 years,"phoenix, az, usa","$61,000 + 3% 401k match.",none,sales / web hosting,NaN,2 years,2.0,6.100030e+08,USD,1.000000,6.100030e+08
87,2021-09-01,senior data engineer,location - india,yoe - 7,52 Lakhs INR,NaN,NaN,NaN,location - india,NaN,5.200000e+09,INR,78.071635,6.660550e+07
263,2022-03-01,data scientist,yoe : 1 year,location: bangalore,Salary: 12 Lakh Rupees,industry: management consultancy,"tech stack: aws, pyspark, python, sql, a bit o...",NaN,yoe : 1 year,1.0,1.200000e+09,INR,78.071635,1.537050e+07
277,2022-06-01,data engineer,making a transition from about 2 years as an o...,lower col area of ohio.,$85K. Adjusting for COL using Nerdwallet this ...,"$12,500 bonus on table for first year, normall...",online/direct mail sales and marketing. compan...,i'm told initial focus will be on creating a c...,making a transition from about 2 years as an o...,NaN,8.500000e+06,USD,1.000000,8.500000e+06
112,2021-09-01,data engineer,6 months experience.,"north west england, uk.",41k GBP / 56.k USD / 47.7k Euros salary.,"bonuses: unknown, haven't worked here long eno...",financial services.,NaN,6 months experience.,0.5,4.156000e+06,EUR,0.961538,4.322240e+06
6,2021-06-01,senior data engineer,5,"remote, nyc",$500k,$0,tech,NaN,5,5.0,5.000000e+05,USD,1.000000,5.000000e+05
22,2021-06-01,analytics manager,8-9 current field,bay area,400k/yr USD,NaN,NaN,NaN,8-9 current field,NaN,4.000000e+05,USD,1.000000,4.000000e+05

In [20]:
# if salary_usd > 600,000 then replace with NaN
df_joined['salary_usd'] = df_joined.salary_usd.where(df_joined['salary_usd']<600000, None)

In [21]:
df_joined.loc[df_joined.salary_usd > 300000, :]

,date,title,experience,location,salary,bonus,industry,benefits,experience_pre_clean,experience_clean,salary_clean,salary_currency,FX,salary_usd
6,2021-06-01,senior data engineer,5,"remote, nyc",$500k,$0,tech,NaN,5,5.0,500000.0,USD,1.0,500000.0
22,2021-06-01,analytics manager,8-9 current field,bay area,400k/yr USD,NaN,NaN,NaN,8-9 current field,NaN,400000.0,USD,1.0,400000.0

In [22]:
# plot distribution of salary_usd
px.histogram(df_joined, x='salary_usd', nbins=100)

In [23]:
# show salary_usd rows below 25000
df_joined.loc[df_joined.salary_usd < 25000, :].sort_values(by='salary_usd', ascending=False)

,date,title,experience,location,salary,bonus,industry,benefits,experience_pre_clean,experience_clean,salary_clean,salary_currency,FX,salary_usd
292,2022-06-01,bi analyst,"2y developer, 6 months data analyst",baltic states,1800EUR/month,5% quater bonus,healthcare,"mysql, python","2y developer, 6 months data analyst",0.166667,21600.0,EUR,0.961538,22464.000000
194,2021-12-01,data engineer,0 years,philippines,"Php 22,000.00",none,saas,NaN,0 years,0.000000,22000.0,USD,1.000000,22000.000000
157,2021-12-01,big data developer,10 months of effective work,central italy,19400 €,2000 € / year,consultancy,NaN,10 months of effective work,0.833333,19400.0,EUR,0.961538,20176.000000
164,2021-12-01,data engineer,4 years,turkey,18k $ / y,same as yours,finance + ecommerence,NaN,4 years,4.000000,18000.0,USD,1.000000,18000.000000
23,2021-06-01,data engineer,~1 yoe,bangalore india remote,14 Lpa INR,NaN,NaN,NaN,~1 yoe,1.000000,1400000.0,INR,78.071635,17932.249106
210,2022-03-01,data engineer iv,1.5 months,"querétaro, méxico","354,000 MXN ~ 17,150 USD per year",bonus of 15% according to achievement of goals,chemicals,"databricks, azure data factory, mssql, pl/sql,...",1.5 months,0.125000,354000.0,MXN,20.587981,17194.498284
3,2021-06-01,etl developer,1.5 years,belarus,$15k USD,NaN,NaN,NaN,1.5 years,1.500000,15000.0,USD,1.000000,15000.000000
58,2021-06-01,data engineer i at a fortune top vii in india,9 months as scala spark data engg,"ncr, india",$15000/year,performance bonus : upto $2000,NaN,NaN,9 months as scala spark data engg,0.750000,15000.0,USD,1.000000,15000.000000
287,2022-06-01,data engineer,3 yoe,"manila, philippines",780k PHP or 15.6k USD,65k php or 1.3k usd,"python, sql, rds, dms, kinesis, lambda , s3, g...",NaN,3 yoe,3.000000,780000.0,PHP,53.557692,14563.734291
272,2022-06-01,data engineer intern,0yoe,"paris, france",1000€/month,0€,financial services,"python, airflow, aws , bigquery, docker, postgres",0yoe,0.000000,12000.0,EUR,0.961538,12480.000000
35,2021-06-01,big data engineer,3 yoe,"pune, india",900K INR,NaN,NaN,NaN,3 yoe,3.000000,900000.0,INR,78.071635,11527.874425
248,2022-03-01,tech stack:sql scripting language: python,location : india,experience : 9 months,Salary :6000$ annual,NaN,NaN,NaN,location : india,NaN,6000.0,USD,1.000000,6000.000000
24,2021-06-01,data engineer,4 yoe,remote; us lcol,"Base: $110,000 USD",10% bonus,fintech,NaN,4 yoe,4.000000,1100.0,USD,1.000000,1100.000000
150,2021-12-01,date engineer,<1 year,paris,"46,5K€",adtech,NaN,NaN,<1 year,1.000000,465.0,EUR,0.961538,483.600000
81,2021-09-01,senior data engineer,8 years data analyst,ohio,90 base,7k bonus,NaN,NaN,8 years data analyst,8.000000,90.0,USD,1.000000,90.000000
229,2022-03-01,data engineer,yoe: 6,location: u.k.,"Salary: £70,000",benefits: minimum equity in current role,industry: insurtech,"stack: python, aws, airflow, dbt, sql, and ter...",yoe: 6,6.000000,70.0,GBP,0.822596,85.096435
155,2021-12-01,senior data engineer,"3 years as dba, 2 years data engineering",midwest,$80 per hour,0,entertainment,NaN,"3 years as dba, 2 years data engineering",3.000000,80.0,USD,1.000000,80.000000
136,2021-12-01,data analytics engineer,1 yoe,madrid,72.00€,none,NaN,NaN,1 yoe,1.000000,72.0,EUR,0.961538,74.880000
109,2021-09-01,data engineer,2 yoe,norway,~$70.000,shipping,NaN,NaN,2 yoe,2.000000,70.0,USD,1.000000,70.000000
36,2021-06-01,lead senior data engineer,10 yoe / 5 in de,"madrid, spain",65.00€,20%,consulting,NaN,10 yoe / 5 in de,10.000000,65.0,EUR,0.961538,67.600000
10,2021-06-01,junior data engineer,"2 years experience, predominantly bi analyst",melbourne australia,$70 AUD,"$6.5k bonus, only work 4 days",logistics,NaN,"2 years experience, predominantly bi analyst",2.000000,70.0,AUD,1.436442,48.731508
201,2022-03-01,data engineering consultant,6 months,"santa catarina, brazil",R$18.000 = $3500 USD yearly,r$800 = $150 usd every 6 months if we hit our ...,de consultancy for industrial/retail/tech clie...,sql + python + airflow + gcp and aws cloud pro...,6 months,0.500000,18.0,USD,1.000000,18.000000
152,2021-12-01,data engineer,"<1 as de, 1 as da, 1 as automation specialist",midwest,6. Manufacturing/Chemicals,NaN,NaN,NaN,"<1 as de, 1 as da, 1 as automation specialist",1.000000,6.0,USD,1.000000,6.000000

In [24]:
# if salary_usd < 5,000 then replace with NaN
df_joined['salary_usd'] = df_joined.salary_usd.where(df_joined['salary_usd']>5000, None)

In [25]:
px.histogram(df_joined, x='salary_usd', nbins=100)

In [26]:
# select only date, title, experience, location, salary_currency, salary_usd
df_final=df_joined[['date', 'title', 'experience_clean', 'location', 'salary_currency', 'salary_usd']]

In [27]:
df_final.describe()

       experience_clean     salary_usd
count        266.000000     259.000000
mean           3.941228  107472.752163
std            4.027899   55280.091728
min            0.000000    6000.000000
25%            1.000000   69805.890228
50%            3.000000  100000.000000
75%            5.000000  139611.780455
max           34.000000  500000.000000

In [28]:
# write to csv
df_final.to_csv('df_final.csv', index=False)

In [29]:
#create sqlite database
import sqlite3
conn = sqlite3.connect('../df_final.db')

In [31]:
#write to sqlite db
df_final.to_sql('salary_data', con=conn, if_exists='replace', index=False)

304