In [448]:
import pandas as pd

In [449]:
df = pd.read_csv('data_no_invalid_rows.csv')
df

,date,title,experience,location,salary,bonus,industry,tech_stack
0,2021-06-01,"Data Pipeline - Business Side, Sr. Manager",15+ years,"LCOL, US",150K,0.25,NaN,NaN
1,2021-06-01,Data Engineer,2.5 years as a DE (3 months of that was an int...,100% Remote; company is based out of a low cos...,"130,000USD",10% annual bonus (among other benefits),NaN,NaN
2,2021-06-01,Data Engineering Consultant,0.5 years,London,£32K,NaN,NaN,NaN
3,2021-06-01,ETL Developer,1.5 years,Belarus,$15k USD,NaN,NaN,NaN
4,2021-06-01,Sr Data Engineer,7 years professional experience. 2 in data eng...,Los Angeles,"$125,000 base salary","$12,500 bonus target + $10,000 RSU/year",Online gambling,NaN
...,...,...,...,...,...,...,...,...
292,2022-06-01,Senior Data Engineer,"5, coming on 6",Seattle (but remote mainly),$165k base,"Annual bonus ($25k signing bonus), some equity...",Media,"AWS, Airflow, Spark, some other DevOps tools"
293,2022-06-01,Data Engineer,"1 in role, 2 months in DS internship about 6 m...",Virginia (hcol),102k USD,"Paltry bonus- 10% 401k contrib, full healthcar...",Government,"Python, sql, unfortunately no cloud resources lol"
294,2022-06-01,Data Engineer,8 Years as a BI Dev 2 Years Data Engineer,London UK,"80,000 GBP before Tax",Upto 15% Bonus,Asset Management,"SQL, Azure Data Factory, Python (just a little..."
295,2022-06-01,title: Data Engineer 1,NaN,location: Michigan (remote CA company),pay: 145k base,bonus: 10% base/yr + 10k rsu sign on,industry: cannabis,"stack/libs: Python, Pandas, postgresql, boto3,..."
296,2022-06-01,Data Engineer I,"6 months as DE, 5 years with data total",SF,87000,1000,Non-profit org,"Python, MySQL, AWS, R, Ruby"

In [450]:
# lowercase, remove brackets
df.title = df.title.str.lower().str.replace(
    r"\(.*\)", "").str.replace(r".*\)", "")
df.experience = df.experience.str.lower().str.replace(
    r"\(.*\)", "").str.replace(r".*\)", "")
df.location = df.location.str.lower().str.replace(
    r"\(.*\)", "").str.replace(r".*\)", "")
df.salary = df.salary.str.replace(r"\(.*\)", "").str.replace(r".*\)", "")
df.bonus = df.bonus.str.lower().str.replace(
    r"\(.*\)", "").str.replace(r".*\)", "")
df.industry = df.industry.str.lower().str.replace(
    r"\(.*\)", "").str.replace(r".*\)", "")
df.tech_stack = df.tech_stack.str.lower().str.replace(
    r"\(.*\)", "").str.replace(r".*\)", "")

/var/folders/l7/m69bgsp16830cvfm6973p2h00000gn/T/ipykernel_96468/2918789268.py:2: FutureWarning:

The default value of regex will change from True to False in a future version.

/var/folders/l7/m69bgsp16830cvfm6973p2h00000gn/T/ipykernel_96468/2918789268.py:4: FutureWarning:

The default value of regex will change from True to False in a future version.

/var/folders/l7/m69bgsp16830cvfm6973p2h00000gn/T/ipykernel_96468/2918789268.py:6: FutureWarning:

The default value of regex will change from True to False in a future version.

/var/folders/l7/m69bgsp16830cvfm6973p2h00000gn/T/ipykernel_96468/2918789268.py:8: FutureWarning:

The default value of regex will change from True to False in a future version.

/var/folders/l7/m69bgsp16830cvfm6973p2h00000gn/T/ipykernel_96468/2918789268.py:9: FutureWarning:

The default value of regex will change from True to False in a future version.

/var/folders/l7/m69bgsp16830cvfm6973p2h00000gn/T/ipykernel_96468/2918789268.py:11: FutureWarning:

The default value of regex will change from True to False in a future version.

/var/folders/l7/m69bgsp16830cvfm6973p2h00000gn/T/ipykernel_96468/2918789268.py:13: FutureWarning:

The default value of regex will change from True to False in a future version.

In [451]:
# remove "." and "," and "-" and "/" from titles
df.title = df.title.str.replace(r"\.", "").str.replace(
    r",", "").str.replace(r"-", "").str.replace(r"/", "")
# replace "sr " with "senior " and "jr" with "junior" in titles
df.title = df.title.str.replace(
    r"sr ", "senior ").str.replace(r"jr ", "junior ")
# remove "title:"   from titles
df.title = df.title.str.replace(r"title:", "").str.replace(r"title", "")
# replace "de " with "data engineer " in titles
df.title = df.title.str.replace(r"de ", "data engineer ")

# replace "de" with "data engineer" in titles when at the end of the string
df.title = df.title.str.replace(r"de$", "data engineer")
# replace "business intelligence" with "bi" in titles
df.title = df.title.str.replace(r"business intelligence", "bi")
# replace numbers with lowercase romans in titles
df.title = df.title.str.replace(r"1", "i").str.replace(r"2", "ii").str.replace(r"3", "iii").str.replace(r"4", "iv").str.replace(
    r"5", "v").str.replace(r"6", "vi").str.replace(r"7", "vii").str.replace(r"8", "viii").str.replace(r"9", "ix").str.replace(r"10", "x")




# trim whitespace from titles
df.title = df.title.str.strip()

# replace multiple spaces with single space in titles
df.title = df.title.str.replace(r"\s+", " ")

/var/folders/l7/m69bgsp16830cvfm6973p2h00000gn/T/ipykernel_96468/2029195141.py:2: FutureWarning:

The default value of regex will change from True to False in a future version.

/var/folders/l7/m69bgsp16830cvfm6973p2h00000gn/T/ipykernel_96468/2029195141.py:13: FutureWarning:

The default value of regex will change from True to False in a future version.

/var/folders/l7/m69bgsp16830cvfm6973p2h00000gn/T/ipykernel_96468/2029195141.py:27: FutureWarning:

The default value of regex will change from True to False in a future version.

In [452]:
df

,date,title,experience,location,salary,bonus,industry,tech_stack
0,2021-06-01,data pipeline business sidata engineer senior ...,15+ years,"lcol, us",150K,0.25,NaN,NaN
1,2021-06-01,data engineer,2.5 years as a de,100% remote; company is based out of a low cos...,"130,000USD",10% annual bonus,NaN,NaN
2,2021-06-01,data engineering consultant,0.5 years,london,£32K,NaN,NaN,NaN
3,2021-06-01,etl developer,1.5 years,belarus,$15k USD,NaN,NaN,NaN
4,2021-06-01,senior data engineer,7 years professional experience. 2 in data eng...,los angeles,"$125,000 base salary","$12,500 bonus target + $10,000 rsu/year",online gambling,NaN
...,...,...,...,...,...,...,...,...
292,2022-06-01,senior data engineer,"5, coming on 6",seattle,$165k base,"annual bonus , some equity package i can't rem...",media,"aws, airflow, spark, some other devops tools"
293,2022-06-01,data engineer,"1 in role, 2 months in ds internship about 6 m...",virginia,102k USD,"paltry bonus- 10% 401k contrib, full healthcar...",government,"python, sql, unfortunately no cloud resources lol"
294,2022-06-01,data engineer,8 years as a bi dev 2 years data engineer,london uk,"80,000 GBP before Tax",upto 15% bonus,asset management,"sql, azure data factory, python"
295,2022-06-01,data engineer i,NaN,location: michigan,pay: 145k base,bonus: 10% base/yr + 10k rsu sign on,industry: cannabis,"stack/libs: python, pandas, postgresql, boto3,..."
296,2022-06-01,data engineer i,"6 months as de, 5 years with data total",sf,87000,1000,non-profit org,"python, mysql, aws, r, ruby"

In [453]:
# remove "years of experience" from experience
df['experience_pre_clean'] = df.experience.str.replace(
    r"years of experience", "")
# remove non numeric characters except "."" or "," from experience, convert to numeric
df['experience_clean'] = df.experience_pre_clean.str[0:7].str.replace(
    r"[^0-9\.,]", "").str.replace(r", ", "")


# try to convert to numeric
df['experience_clean'] = pd.to_numeric(df['experience_clean'], errors='coerce')
# if df.experience contains "month" then divide df.experience_clean by 12
df['experience_clean'] = df.experience_clean.where(df.experience.str.contains(
    "month") == False, df.experience_clean/12.0, errors='ignore')
# if experience_clean > 40 then replace with Null
df['years_experience_clean'] = df.experience_clean.where(
    df.experience_clean <= 40, None)

/var/folders/l7/m69bgsp16830cvfm6973p2h00000gn/T/ipykernel_96468/3481816774.py:5: FutureWarning:

The default value of regex will change from True to False in a future version.

In [454]:
# remove the word "base", "salary" and "tax" from salary
df['salary_pre_clean'] = df.salary.str.replace(r"(?i)base", "").str.replace(r"(?i)salary", "").str.replace(r"(?i)tax", "").str.replace(r"(?i)currency", "").str.replace(r"(?i)current", "")

# replace "Lakhs" with "L" in salary_pre_clean\
df['salary_pre_clean'] = df.salary_pre_clean.str.replace(r"(?i)lakhs", "L")

# remove non numeric characters except "." from salary, convert to numeric
df['salary_clean'] = pd.to_numeric(df.salary_pre_clean.str[0:12].str.replace(r"[^0-9\.]", ""), errors='coerce')




# multiply by 1000 if contains k
df['salary_clean'] = df.salary_clean.where(
    df.salary_pre_clean.str.contains("k") == False, df.salary_clean*1000, errors='ignore').where(
        df.salary_pre_clean.str.contains("K ") == False, df.salary_clean*1000, errors='ignore').where(
                df.salary_pre_clean.str.contains("K$") == False, df.salary_clean*1000, errors='ignore').where(
                    df.salary_pre_clean.str.contains("mon") == False, df.salary_clean*12, errors='ignore').where(
                        df.salary_pre_clean.str.contains("/mo") == False, df.salary_clean*12, errors='ignore')
                    


df['salary_clean'] = df.salary_clean.where(df.salary.str.contains("L") == False, df.salary_clean*100000, errors='ignore')

/var/folders/l7/m69bgsp16830cvfm6973p2h00000gn/T/ipykernel_96468/2138884784.py:2: FutureWarning:

The default value of regex will change from True to False in a future version.

/var/folders/l7/m69bgsp16830cvfm6973p2h00000gn/T/ipykernel_96468/2138884784.py:5: FutureWarning:

The default value of regex will change from True to False in a future version.

/var/folders/l7/m69bgsp16830cvfm6973p2h00000gn/T/ipykernel_96468/2138884784.py:8: FutureWarning:

The default value of regex will change from True to False in a future version.

In [455]:
# if salary contains currency symbol eg EUR GBP USD AUD INR then extract it
df['salary_currency'] = df.salary.where(
    df.salary.str.contains("$") == False, "USD").where(
        df.salary.str.contains("USD") == False, "USD").where(
            df.salary.str.contains("US") == False, "USD").where(
                df.salary.str.contains("\$") == False, "USD").where(
                    df.salary.str.contains("usd") == False, "USD").where(
                        df.salary.str.contains("GBP") == False, "GBP").where(
                            df.salary.str.contains("£") == False, "GBP").where(
                                df.salary.str.contains("AUD") == False, "AUD").where(
                                    df.salary.str.contains("INR") == False, "INR").where(
                                        df.salary.str.contains("EUR") == False, "EUR").where(
                                            df.salary.str.contains("Euro") == False, "EUR").where(
                                                df.salary.str.contains("euro") == False, "EUR").where(
                                                    df.salary.str.contains("€") == False, "EUR").where(
                                                        df.salary.str.contains("CAD") == False, "CAD").where(
                                                            df.salary.str.contains("Rupee") == False, "INR").where(
                                                                df.salary.str.contains("Lakh") == False, "INR").where(
                                                                df.salary.str.contains("CHF") == False, "CHF").where(
                                                                    df.salary.str.contains("NOK") == False, "NOK").where(
                                                                        df.salary.str.contains("HKD") == False, "HKD").where(
                                                                            df.salary.str.contains("MXN") == False, "MXN").where(
                                                                                df.salary.str.contains("PHP") == False, "PHP").where(
                                                                                    df.salary.str.contains("COP") == False, "COP").where(
                                                                                        
                                                                                        df.salary.str.contains("R$") == False, "BRL")

                                                            

# view only salary and salary_clean
df[['salary', 'salary_pre_clean','salary_clean', 'salary_currency']].iloc[180:240, :]

,salary,salary_pre_clean,salary_clean,salary_currency
180,85k USD,85k USD,85000.0,USD
181,"$61,000 + 3% 401k match.","$61,000 + 3% 401k match.",610003000.0,USD
182,£30k,£30k,30000.0,GBP
183,"£58,000","£58,000",58000.0,GBP
184,$100k,$100k,100000.0,USD
185,$130k USD,$130k USD,130000.0,USD
186,$120k Base,$120k,120000.0,USD
187,$80k USD,$80k USD,80000.0,USD
188,"£65,000","£65,000",65000.0,GBP
189,"$144,000 USD base","$144,000 USD",144000.0,USD
190,£85K,£85K,85000.0,GBP
191,265K USD/yr,265K USD/yr,265000.0,USD
192,"Php 22,000.00","Php 22,000.00",22000.0,USD
193,"AUD$187,000","AUD$187,000",187000.0,AUD
194,Salary before tax: £45k pa,before : £45k pa,4000.0,GBP
195,60000,60000,60000.0,USD
196,210k CAD,210k CAD,210000.0,CAD
197,"R$18,000 = $3500 USD yearly","R$18,000 = $3500 USD yearly",18000.0,USD
198,$200k base,$200k,200000.0,USD
199,£100k,£100k,100000.0,GBP
200,~$190k,~$190k,190000.0,USD
201,$80K,$80K,80000.0,USD
202,145k USD,145k USD,145000.0,USD
203,"Base Salary: £40,000 GBP",": £40,000 GBP",40000.0,GBP
204,"354,000 MXN ~ 17,150 USD per year","354,000 MXN ~ 17,150 USD per year",354000.0,MXN
205,55k€,55k€,55000.0,EUR
206,175k USD,175k USD,175000.0,USD
207,92000 CAD,92000 CAD,92000.0,CAD
208,"£54,000","£54,000",54000.0,GBP
209,"$80,000 AUD","$80,000 AUD",80000.0,AUD
210,Base: 110k,: 110k,110000.0,USD
211,€86k,€86k,86000.0,EUR
212,£100k is probably more representative,£100k is probably more representative,100000.0,GBP
213,11k USD/ year,11k USD/ year,11000.0,USD
214,110k base,110k,110000.0,USD
215,"Base salary & currency , Each job pays me a gr...","& , Each job pays me a gross of $60,000 a ...",NaN,USD
216,88k USD,88k USD,88000.0,USD
217,~$136k,~$136k,136000.0,USD
218,85K CAD,85K CAD,85000.0,CAD
219,$150k,$150k,150000.0,USD
220,65k USD,65k USD,65000.0,USD
221,Base salary: $152k,: $152k,152000.0,USD
222,$152k usd,$152k usd,152000.0,USD
223,"Salary: £70,000",": £70,000",70000.0,GBP
224,"$115,000 Base Comp","$115,000 Comp",115000.0,USD
225,110K Base,110K,110000.0,USD
226,"75,000 HKD / month","75,000 HKD / month",900000.0,HKD
227,"$178,000 CAD","$178,000 CAD",178000.0,CAD
228,120k USD,120k USD,120000.0,USD
229,$205k,$205k,205000.0,USD
230,Base salary & currency - $100k USD,& - $100k USD,100000.0,USD
231,"~42k, but hourly","~42k, but hourly",42000.0,USD
232,"Base Salary: $77,500 USD",": $77,500 USD",77500.0,USD
233,NaN,NaN,NaN,BRL
234,132k USD base salary,132k USD,132000.0,USD
235,55k GBP,55k GBP,55000.0,GBP
236,70k,70k,70000.0,USD
237,€80k,€80k,80000.0,EUR
238,Salary: € 66k/year,: € 66k/year,66000.0,EUR
239,"$82,000 salary","$82,000",82000.0,USD

In [456]:
# group df by salary_currency and count the number of rows
df.groupby('salary_currency').count().sort_values(by='date', ascending=False)

,date,title,experience,location,salary,bonus,industry,tech_stack,experience_pre_clean,experience_clean,years_experience_clean,salary_pre_clean,salary_clean
salary_currency,,,,,,,,,,,,,
USD,213,213,212,213,213,198,169,53,212,192,190,213,211
EUR,25,25,25,25,25,25,22,7,25,23,22,25,25
GBP,25,25,25,25,25,23,18,10,25,23,23,25,25
CAD,15,15,15,15,15,14,12,6,15,15,15,15,15
AUD,5,5,5,5,5,3,3,1,5,5,5,5,5
BRL,4,4,4,4,3,0,0,0,4,3,3,3,3
INR,4,4,4,4,4,3,2,0,4,3,3,4,4
CHF,1,1,1,1,1,1,0,0,1,1,1,1,1
COP,1,1,1,1,1,1,1,0,1,1,1,1,1
HKD,1,1,1,1,1,0,1,1,1,1,1,1,1
MXN,1,1,1,1,1,1,1,1,1,1,1,1,1
NOK,1,1,1,1,1,1,0,0,1,1,1,1,1
PHP,1,1,1,1,1,1,1,0,1,1,1,1,1

In [457]:
df[df['salary_currency']=='PHP']

,date,title,experience,location,salary,bonus,industry,tech_stack,experience_pre_clean,experience_clean,years_experience_clean,salary_pre_clean,salary_clean,salary_currency
280,2022-06-01,data engineer,3 yoe,"manila, philippines",780k PHP or 15.6k USD,65k php or 1.3k usd,"python, sql, rds, dms, kinesis, lambda , s3, g...",NaN,3 yoe,3.0,3.0,780k PHP or 15.6k USD,780000.0,PHP

In [458]:
from forex_python.converter import CurrencyRates
# get current fx rates for USD to EUR GBP CAD HKD AUD INR CHF NOK
fx = CurrencyRates()
rates = fx.get_rates('USD')

# convert rates to df
rates_df = pd.DataFrame(rates, index=[0])
# swap columns and rows
rates_df = rates_df.T
rates_df.columns = ['FX']
#add row for USD to USD
rates_df.loc['USD'] = 1

# join rates_df to df on currency, using left join

df= pd.merge(df, rates_df, left_on='salary_currency', right_index=True, how='left')

In [459]:
# calculate salary_usd by multiplying salary_clean by fx
df['salary_usd'] = df.salary_clean / df.FX

In [460]:
import plotly.express as px

# plot distribution of salary_usd
px.histogram(df, x='salary_usd', nbins=100)

In [461]:
df.loc[df.salary_usd > 300000, :].sort_values(by='salary_usd', ascending=False)

,date,title,experience,location,salary,bonus,industry,tech_stack,experience_pre_clean,experience_clean,years_experience_clean,salary_pre_clean,salary_clean,salary_currency,FX,salary_usd
37,2021-06-01,senior data engineer,5-,"bangalore, india",30 Lakhs ~41k USD,0,retail,NaN,5-,5.0,5.0,30 L ~41k USD,3.041000e+11,INR,77.963298,3.900553e+09
181,2021-12-01,data analyst working on a change to data engineer,2 years,"phoenix, az, usa","$61,000 + 3% 401k match.",none,sales / web hosting,NaN,2 years,2.0,2.0,"$61,000 + 3% 401k match.",6.100030e+08,USD,1.000000,6.100030e+08
91,2021-09-01,data engineer,3 yoe,bay area,"$186k base, $10k bonus, $300k /year equity",NaN,NaN,NaN,3 yoe,3.0,3.0,"$186k , $10k bonus, $300k /year equity",1.861000e+07,USD,1.000000,1.861000e+07
256,2022-03-01,data scientist,yoe : 1 year,location: bangalore,Salary: 12 Lakh Rupees,industry: management consultancy,"tech stack: aws, pyspark, python, sql, a bit o...",NaN,yoe : 1 year,1.0,1.0,: 12 Lakh Rupees,1.200000e+09,INR,77.963298,1.539186e+07
270,2022-06-01,data engineer,making a transition from about 2 years as an o...,lower col area of ohio.,$85K. Adjusting for COL using Nerdwallet this ...,"$12,500 bonus on table for first year, normall...",online/direct mail sales and marketing. compan...,i'm told initial focus will be on creating a c...,making a transition from about 2 years as an o...,NaN,NaN,$85K. Adjusting for COL using Nerdwallet this ...,8.500000e+06,USD,1.000000,8.500000e+06
111,2021-09-01,data engineer,6 months experience.,"north west england, uk.",41k GBP / 56.k USD / 47.7k Euros salary.,"bonuses: unknown, haven't worked here long eno...",financial services.,NaN,6 months experience.,0.5,0.5,41k GBP / 56.k USD / 47.7k Euros .,4.156000e+06,EUR,0.950841,4.370865e+06
6,2021-06-01,senior data engineer,5,"remote, nyc",$500k,0,tech,NaN,5,5.0,5.0,$500k,5.000000e+05,USD,1.000000,5.000000e+05
21,2021-06-01,analytics manager,8-9 current field,bay area,400k/yr USD,NaN,NaN,NaN,8-9 current field,89.0,NaN,400k/yr USD,4.000000e+05,USD,1.000000,4.000000e+05

In [462]:
# if salary_usd > 600,000 then replace with NaN
df['salary_usd'] = df.salary_usd.where(df['salary_usd']<600000, None)

In [463]:
df.loc[df.salary_usd > 300000, :]

,date,title,experience,location,salary,bonus,industry,tech_stack,experience_pre_clean,experience_clean,years_experience_clean,salary_pre_clean,salary_clean,salary_currency,FX,salary_usd
6,2021-06-01,senior data engineer,5,"remote, nyc",$500k,0,tech,NaN,5,5.0,5.0,$500k,500000.0,USD,1.0,500000.0
21,2021-06-01,analytics manager,8-9 current field,bay area,400k/yr USD,NaN,NaN,NaN,8-9 current field,89.0,NaN,400k/yr USD,400000.0,USD,1.0,400000.0

In [464]:
# plot distribution of salary_usd
px.histogram(df, x='salary_usd', nbins=100)

In [465]:
# show salary_usd rows below 25000
df.loc[df.salary_usd < 25000, :].sort_values(by='salary_usd', ascending=False)

,date,title,experience,location,salary,bonus,industry,tech_stack,experience_pre_clean,experience_clean,years_experience_clean,salary_pre_clean,salary_clean,salary_currency,FX,salary_usd
285,2022-06-01,bi analyst,"2y developer, 6 months data analyst",baltic states,1800EUR/month,5% quater bonus,healthcare,"mysql, python","2y developer, 6 months data analyst",0.166667,0.166667,1800EUR/month,21600.0,EUR,0.950841,22716.720000
271,2022-06-01,current generic programmer,years of experience : 1+,location: spain,Salary: 21k €,industry: consulting,"tech stack: sql server, c#, ssis, oracle database",NaN,: 1+,1.000000,1.000000,: 21k €,21000.0,EUR,0.950841,22085.700000
192,2021-12-01,data engineer,0 years,philippines,"Php 22,000.00",none,saas,NaN,0 years,0.000000,0.000000,"Php 22,000.00",22000.0,USD,1.000000,22000.000000
155,2021-12-01,big data developer,10 months of effective work,central italy,19400 €,2000 € / year,consultancy,NaN,10 months of effective work,0.833333,0.833333,19400 €,19400.0,EUR,0.950841,20402.980000
197,2022-03-01,data engineering consultant,6 months,"santa catarina, brazil","R$18,000 = $3500 USD yearly",r$800 = $150 usd every 6 months if we hit our ...,de consultancy for industrial/retail/tech clie...,sql + python + airflow + gcp and aws cloud pro...,6 months,0.500000,0.500000,"R$18,000 = $3500 USD yearly",18000.0,USD,1.000000,18000.000000
162,2021-12-01,data engineer,4 years,turkey,18k $ / y,same as yours,finance + ecommerence,NaN,4 years,4.000000,4.000000,18k $ / y,18000.0,USD,1.000000,18000.000000
33,2021-06-01,senior data engineer,6 years,"stockholm, sweden",90k EUR,NaN,NaN,NaN,6 years,6.000000,6.000000,90k EUR,90000.0,BRL,5.145669,17490.437386
204,2022-03-01,data engineer iv,1.5 months,"querétaro, méxico","354,000 MXN ~ 17,150 USD per year",bonus of 15% according to achievement of goals,chemicals,"databricks, azure data factory, mssql, pl/sql,...",1.5 months,0.125000,0.125000,"354,000 MXN ~ 17,150 USD per year",354000.0,MXN,20.254445,17477.644872
57,2021-06-01,data engineer i at a fortune top vii in india,9 months as scala spark data engg,"ncr, india",$15000/year,performance bonus : upto $2000,NaN,NaN,9 months as scala spark data engg,0.750000,0.750000,$15000/year,15000.0,USD,1.000000,15000.000000
3,2021-06-01,etl developer,1.5 years,belarus,$15k USD,NaN,NaN,NaN,1.5 years,1.500000,1.500000,$15k USD,15000.0,USD,1.000000,15000.000000
280,2022-06-01,data engineer,3 yoe,"manila, philippines",780k PHP or 15.6k USD,65k php or 1.3k usd,"python, sql, rds, dms, kinesis, lambda , s3, g...",NaN,3 yoe,3.000000,3.000000,780k PHP or 15.6k USD,780000.0,PHP,54.076257,14424.075116
265,2022-06-01,data engineer intern,0yoe,"paris, france",1000€/month,0,financial services,"python, airflow, aws , bigquery, docker, postgres",0yoe,0.000000,0.000000,1000€/month,12000.0,EUR,0.950841,12620.400000
213,2022-03-01,data engineer,10 months,"bogotá, colombia",11k USD/ year,no bonus,ecommerce/startup,"aws, python, sql, spark, databricks",10 months,0.833333,0.833333,11k USD/ year,11000.0,USD,1.000000,11000.000000
194,2021-12-01,current data engineer,years of experience: first role as data engine...,location: south west uk,Salary before tax: £45k pa,bonuses: 10% of annual salary if company hits ...,industry: saas,NaN,: first role as data engineer. 3 stem degrees ...,NaN,NaN,before : £45k pa,4000.0,GBP,0.815328,4906.003639
170,2021-12-01,current data engineer,years of experience : 1 year,"location: md, virginia , dc area","Base salary & currency :$100,000 USD","bonuses/equity $5,000",industry government consulting,NaN,: 1 year,1.000000,1.000000,"& :$100,000 USD",1000.0,USD,1.000000,1000.000000
80,2021-09-01,senior data engineer,8 years data analyst,ohio,90 base,7k bonus,NaN,NaN,8 years data analyst,8.000000,8.000000,90,90.0,USD,1.000000,90.000000
153,2021-12-01,senior data engineer,"3 years as dba, 2 years data engineering",midwest,$80 per hour,0,entertainment,NaN,"3 years as dba, 2 years data engineering",3.000000,3.000000,$80 per hour,80.0,USD,1.000000,80.000000
35,2021-06-01,lead senior data engineer,10 yoe / 5 in de,"madrid, spain",65,0.2,consulting,NaN,10 yoe / 5 in de,10.000000,10.000000,65,65.0,USD,1.000000,65.000000
149,2021-12-01,date engineer,<1 year,paris,46.5K€,adtech,NaN,NaN,<1 year,1.000000,1.000000,46.5K€,46.5,EUR,0.950841,48.904050
10,2021-06-01,junior data engineer,"2 years experience, predominantly bi analyst",melbourne australia,$70 AUD,"$6.5k bonus, only work 4 days",logistics,NaN,"2 years experience, predominantly bi analyst",2.000000,2.000000,$70 AUD,70.0,AUD,1.432062,48.880552
151,2021-12-01,data engineer,"<1 as de, 1 as da, 1 as automation specialist",midwest,6. Manufacturing/Chemicals,NaN,NaN,NaN,"<1 as de, 1 as da, 1 as automation specialist",1.000000,1.000000,6. Manufacturing/Chemicals,6.0,USD,1.000000,6.000000

In [466]:
# if salary_usd < 5,000 then replace with NaN
df['salary_usd'] = df.salary_usd.where(df['salary_usd']>5000, None)

In [467]:
px.histogram(df, x='salary_usd', nbins=100)

In [468]:
df

,date,title,experience,location,salary,bonus,industry,tech_stack,experience_pre_clean,experience_clean,years_experience_clean,salary_pre_clean,salary_clean,salary_currency,FX,salary_usd
0,2021-06-01,data pipeline business sidata engineer senior ...,15+ years,"lcol, us",150K,0.25,NaN,NaN,15+ years,15.000000,15.000000,150K,150000.0,USD,1.000000,150000.000000
1,2021-06-01,data engineer,2.5 years as a de,100% remote; company is based out of a low cos...,"130,000USD",10% annual bonus,NaN,NaN,2.5 years as a de,2.500000,2.500000,"130,000USD",130000.0,USD,1.000000,130000.000000
2,2021-06-01,data engineering consultant,0.5 years,london,£32K,NaN,NaN,NaN,0.5 years,0.500000,0.500000,£32K,32000.0,GBP,0.815328,39248.029109
3,2021-06-01,etl developer,1.5 years,belarus,$15k USD,NaN,NaN,NaN,1.5 years,1.500000,1.500000,$15k USD,15000.0,USD,1.000000,15000.000000
4,2021-06-01,senior data engineer,7 years professional experience. 2 in data eng...,los angeles,"$125,000 base salary","$12,500 bonus target + $10,000 rsu/year",online gambling,NaN,7 years professional experience. 2 in data eng...,7.000000,7.000000,"$125,000",125000.0,USD,1.000000,125000.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,2022-06-01,senior data engineer,"5, coming on 6",seattle,$165k base,"annual bonus , some equity package i can't rem...",media,"aws, airflow, spark, some other devops tools","5, coming on 6",NaN,NaN,$165k,165000.0,USD,1.000000,165000.000000
293,2022-06-01,data engineer,"1 in role, 2 months in ds internship about 6 m...",virginia,102k USD,"paltry bonus- 10% 401k contrib, full healthcar...",government,"python, sql, unfortunately no cloud resources lol","1 in role, 2 months in ds internship about 6 m...",0.083333,0.083333,102k USD,102000.0,USD,1.000000,102000.000000
294,2022-06-01,data engineer,8 years as a bi dev 2 years data engineer,london uk,"80,000 GBP before Tax",upto 15% bonus,asset management,"sql, azure data factory, python",8 years as a bi dev 2 years data engineer,8.000000,8.000000,"80,000 GBP before",80000.0,GBP,0.815328,98120.072771
295,2022-06-01,data engineer i,NaN,location: michigan,pay: 145k base,bonus: 10% base/yr + 10k rsu sign on,industry: cannabis,"stack/libs: python, pandas, postgresql, boto3,...",NaN,NaN,NaN,pay: 145k,145000.0,USD,1.000000,145000.000000
296,2022-06-01,data engineer i,"6 months as de, 5 years with data total",sf,87000,1000,non-profit org,"python, mysql, aws, r, ruby","6 months as de, 5 years with data total",0.500000,0.500000,87000,87000.0,USD,1.000000,87000.000000

In [469]:
# show number of rows grouped by industry
df.groupby('industry').count().sort_values(by='date', ascending=False).head(50)

,date,title,experience,location,salary,bonus,tech_stack,experience_pre_clean,experience_clean,years_experience_clean,salary_pre_clean,salary_clean,salary_currency,FX,salary_usd
industry,,,,,,,,,,,,,,,
tech,22,22,22,22,22,22,5,22,21,20,22,22,22,22,22
fintech,9,9,9,9,9,9,3,9,9,9,9,9,9,9,9
finance,9,9,9,9,9,9,1,9,7,7,9,9,9,9,9
healthcare,8,8,8,8,8,7,2,8,7,7,8,8,8,8,8
consulting,7,7,7,7,7,7,0,7,7,7,7,7,7,7,6
insurance,5,5,5,5,5,5,2,5,4,4,5,5,5,5,5
telecom,4,4,4,4,4,4,1,4,4,4,4,4,4,4,4
retail,4,4,4,4,4,4,0,4,4,4,4,4,4,4,3
ai healthcare series d,3,3,3,3,3,3,1,3,3,3,3,3,3,3,3
consultancy,3,3,3,3,3,3,0,3,3,3,3,3,3,3,3
manufacturing,3,3,3,3,3,3,0,3,2,2,3,3,3,3,3
media,3,3,3,3,3,2,3,3,2,2,3,3,3,3,3
cpg,3,3,3,3,3,3,0,3,3,3,3,3,3,3,3
big tech,3,3,3,3,3,3,0,3,3,3,3,3,3,3,3
e-commerce,3,3,3,3,3,3,0,3,3,3,3,3,3,3,3
saas,3,3,3,3,3,3,1,3,3,3,3,3,3,3,3
health tech,3,3,3,3,3,3,0,3,3,3,3,3,3,3,3
faang,2,2,2,2,2,2,0,2,2,2,2,2,2,2,2
health care,2,2,2,2,2,2,1,2,2,2,2,2,2,2,2
finance,2,2,2,2,2,2,0,2,2,2,2,2,2,2,2
communication,2,2,2,2,2,2,1,2,2,2,2,2,2,2,2
medical research,2,2,2,2,2,2,1,2,2,2,2,2,2,2,2
financial services,2,2,2,2,2,2,2,2,1,1,2,2,2,2,2
biotech,2,2,2,2,2,2,0,2,2,2,2,2,2,2,2
insurance tech,2,2,2,2,2,2,0,2,2,2,2,2,2,2,2
sas for insurance,2,2,2,2,2,2,1,2,2,2,2,2,2,2,2
no bonus,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
non profit insurance,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
ml/ai,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
non tech,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
non-profit,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
non-profit org,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
government consulting,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
medical,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
media and publishing,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
media and advertising,1,1,1,1,1,0,0,1,1,1,1,1,1,1,1
online gambling,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
marketing consulting/ saas,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
marketing and advertising,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
marketing,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
logistics,1,1,1,1,1,1,0,1,1,1,1,1,1,1,0
legal/consulting,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
it outsourcing & consulting,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
it consultancy,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
it,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
internet marketing,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
insurance,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
online education startup,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
retail/e-commerce,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
online/direct mail sales and marketing. company did $300m last year.,1,1,1,1,1,1,1,1,0,0,1,1,1,1,0

In [470]:
# remove "." "," ":" from industry
df['industry_clean'] = df.industry.str.replace(".", "",regex=True).str.replace(",", "",regex=True).str.replace(":", "",regex=True).str.replace("industry:", "",regex=True)

#remove word "industry" from industry_clean
df['industry_clean'] = df.industry_clean.str.replace('industry', '')

#strip whitespace from ends of industry_clean
df['industry_clean'] = df.industry_clean.str.strip()

# if "industry" contains "marketing" then replace with "marketing"
df['industry_clean'] = df.industry_clean.where(
    df.industry.str.contains("tech") == False, "tech").where(
    df.industry.str.contains("marketing") == False, "marketing").where(
    df.industry.str.contains("medical") == False, "healthcare").where(
    df.industry.str.contains("health") == False, "healthcare").where(
    df.industry.str.contains("telemed") == False, "healthcare").where(
    df.industry.str.contains("pharma") == False, "healthcare").where(
    df.industry.str.contains("media") == False, "media").where(
    df.industry.str.contains("streaming") == False, "media").where(
    df.industry.str.contains("entertainment") == False, "media").where(
    df.industry.str.contains("consult") == False, "consulting").where(
    df.industry.str.contains("finan") == False, "finance").where(
    df.industry.str.contains("fintech") == False, "finance").where(
    df.industry.str.contains("fin tech") == False, "finance").where(
    df.industry.str.contains("banking") == False, "finance").where(
    df.industry.str.contains("insur") == False, "insurance").where(
    df.industry.str.contains("education") == False, "education").where(
    df.industry.str.contains("learning") == False, "education").where(
    df.industry.str.contains("retail") == False, "retail").where(
    df.industry.str.contains("ai ") == False, "ai").where(
    df.industry.str.contains("ml ") == False, "ai").where(
    df.industry.str.contains("ml/") == False, "ai").where(
    df.industry.str.contains("government") == False, "government").where(
    df.industry.str.contains("gov") == False, "government").where(
    df.industry.str.contains("e-comm") == False, "ecommerce").where(
    df.industry.str.contains("ecomm") == False, "ecommerce").where(
    df.industry.str.contains("e comm") == False, "ecommerce").where(
    df.industry.str.contains("telecom") == False, "telco").where(
    df.industry.str.contains("telecommunication") == False, "telco").where(
    df.industry.str.contains("communication") == False, "telco").where(
    df.industry.str.contains("energy") == False, "energy").where(
    df.industry.str.contains("technology") == False, "tech").where(
    df.industry.str.contains("fmcg") == False, "cpg").where(
    df.industry.str.contains("consumer goods") == False, "cpg").where(
    df.industry.str.contains("saas") == False, "saas").where(
    df.industry.str.contains("logistics") == False, "logistics").where(
    df.industry.str.contains("cannabis") == False, "cannabis").where(
    df.industry.str.contains("non-profit") == False, "non-profit").where(
    df.industry.str.contains("non profit") == False, "non-profit").where(
    df.industry.str.contains("sports") == False, "sports").where(
    df.industry.str.contains("fitness") == False, "sports").where(
    df.industry.str.contains("faang") == False, "big tech").where(
    df.industry.str.contains("big tech") == False, "big tech").where(
    df.industry.str.contains("floriculture") == False, "agri").where(
    df.industry.str.contains("aquaculture") == False, "agri").where(
    df.industry.str.contains("chemicals") == False, "manufacturing").where(
    df.industry.str.contains("manufacturing") == False, "manufacturing").where(
    df.industry.isnull() == False , "(blank)")

In [471]:
df[['industry', 'industry_clean']].iloc[60:120, :]

,industry,industry_clean
60,industry : supply chain/logistics,logistics
61,telecom,telco
62,cpg,cpg
63,insurance,insurance
64,health-tech,healthcare
65,tech,tech
66,media and publishing,media
67,cannabis,cannabis
68,gov. contracting,government
69,telecom,telco
70,media and advertising,media
71,streaming service,media
72,finance,finance
73,NaN,(blank)
74,NaN,(blank)
75,bonus - 10% of base.,bonus - 10% of base
76,tech,tech
77,biotech,tech
78,healthcare,healthcare
79,finance,finance
80,NaN,(blank)
81,NaN,(blank)
82,healthcare,healthcare
83,no bonus,no bonus
84,ai healthcare series d,ai
85,healthcare,healthcare
86,NaN,(blank)
87,telecom,telco
88,NaN,(blank)
89,NaN,(blank)
90,NaN,(blank)
91,NaN,(blank)
92,finance,finance
93,insurance,insurance
94,finance and insurance,insurance
95,big tech,big tech
96,consultancy,consulting
97,cloud software,cloud software
98,health tech,healthcare
99,NaN,(blank)
100,"all things data. streaming, batch, master data...",sports
101,NaN,(blank)
102,education,education
103,fintech,finance
104,finance,finance
105,technology,tech
106,retail,retail
107,decided to do an ms in cs. ug was something el...,decided to do an ms in cs ug was something els...
108,NaN,(blank)
109,food distribution,food distribution
110,NaN,(blank)
111,financial services.,finance
112,consumer goods industry,cpg
113,manufacturing,manufacturing
114,tech,tech
115,climate change,climate change
116,NaN,(blank)
117,consulting,consulting
118,fintech,finance
119,NaN,(blank)

In [472]:
# show number of rows grouped by industry
df.groupby('industry_clean').count().sort_values(by='date', ascending=False)

,date,title,experience,location,salary,bonus,industry,tech_stack,experience_pre_clean,experience_clean,years_experience_clean,salary_pre_clean,salary_clean,salary_currency,FX,salary_usd
industry_clean,,,,,,,,,,,,,,,,
(blank),67,67,67,67,66,47,0,1,67,61,60,66,65,67,67,61
tech,33,33,33,33,33,33,33,9,33,32,31,33,33,33,33,32
finance,27,27,27,27,27,27,27,6,27,24,24,27,27,27,26,25
healthcare,25,25,25,25,25,24,25,8,25,23,23,25,25,25,25,25
consulting,15,15,15,15,15,15,15,3,15,15,15,15,15,15,15,14
insurance,13,13,13,13,13,13,13,5,13,12,12,13,13,13,13,13
media,11,11,11,11,11,9,11,6,11,10,9,11,11,11,11,10
ecommerce,9,9,9,9,9,9,9,3,9,8,8,9,9,9,9,9
telco,8,8,8,8,8,8,8,4,8,8,8,8,8,8,8,8
retail,6,6,6,6,6,6,6,1,6,5,5,6,6,6,6,5
marketing,6,6,6,6,6,6,6,2,6,4,4,6,6,6,6,5
saas,6,6,6,6,6,5,6,2,6,5,5,6,6,6,6,5
government,6,6,6,6,6,5,6,3,6,6,6,6,6,6,6,5
ai,5,5,5,5,5,5,5,2,5,5,5,5,5,5,5,5
big tech,5,5,5,5,5,5,5,0,5,5,5,5,5,5,5,5
manufacturing,5,5,5,5,5,5,5,1,5,4,4,5,5,5,5,5
cpg,5,5,5,5,5,5,5,2,5,5,5,5,5,5,5,5
non-profit,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
sports,3,3,3,3,3,3,3,1,3,3,3,3,3,3,3,3
education,3,3,3,3,3,3,3,1,3,3,3,3,3,3,3,3
agri,2,2,2,2,2,1,2,2,2,1,1,2,2,2,2,2
logistics,2,2,2,2,2,2,2,0,2,1,1,2,2,2,2,1
cannabis,2,2,1,2,2,2,2,1,1,0,0,2,2,2,2,2
semiconductors,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
seed round services startup,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
sales / web hosting,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,0
python sql aws terraform postgres,1,1,1,1,1,1,1,0,1,0,0,1,1,1,1,1
stack talend qlik lol,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
starup,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
tc $99k first year,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
varies,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
venture capital,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
weather,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
python/airflow/aws/terraform,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
python sql rds dms kinesis lambda s3 glue athena redshiftec2 airflow git for version control,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
it,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
online gambling,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
decided to do an ms in cs ug was something else + cs minor,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
app/web product startup,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
asset management,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
automobile,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
bonus - 10% of base,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
climate change,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
cloud software,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
defense,1,1,1,1,1,1,1,0,1,0,0,1,1,1,1,1
oklahoma city is web development company arizona is real estate company,1,1,1,1,1,1,1,1,1,0,0,1,0,1,1,0
energy,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
enterprise storage hardware,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
food distribution,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
gcp azure python airflow spark,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1
hospitality,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
no bonus,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
wholesale,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1

In [473]:
# remove word "location:"  from location
df['location_clean'] = df.location.str.replace("location:", "",regex=True).str.replace("location", "",regex=True)

# if location_clean contains "germany" then replace with germany
df['location_clean'] = df.location_clean.where(

    df.location_clean.str.contains("remote") == False, "remote").where(
    df.location_clean.str.contains("us") == False, "us").where(
    df.location_clean.str.contains("germany") == False, "germany").where(
    df.location_clean.str.contains("sweden") == False, "sweden").where(
    df.location_clean.str.contains("spain") == False, "spain").where(
    df.location_clean.str.contains("italy") == False, "italy").where(
    df.location_clean.str.contains("switzerland") == False, "switzerland").where(
    df.location_clean.str.contains("france") == False, "france").where(

    
    df.location_clean.str.contains("canada") == False, "canada").where(
    df.location_clean.str.contains("netherlands") == False, "netherlands").where(
    df.location_clean.str.contains("england") == False, "uk").where(
    df.location_clean.str.contains("uk") == False, "uk").where(
    df.location_clean.str.contains("u.k.") == False, "uk").where(
    df.location_clean.str.contains("india") == False, "india").where(
    df.location_clean.str.contains("indonesia") == False, "indonesia").where(
    df.location_clean.str.contains("japan") == False, "japan").where(
    df.location_clean.str.contains("china") == False, "china").where(
    df.location_clean.str.contains("colombia") == False, "colombia").where(
    df.location_clean.str.contains("australia") == False, "australia").where(
    df.location_clean.str.contains("brazil") == False, "brazil").where(
    df.location_clean.str.contains("mexico") == False, "mexico").where(
    df.location_clean.str.contains("méxico") == False, "mexico").where(
    df.location_clean.str.contains("korea") == False, "korea").where(
    df.location_clean.str.contains("madrid") == False, "spain").where(
    df.location_clean.str.contains("alberta") == False, "canada").where(
    df.location_clean.str.contains("vancouver") == False, "canada").where(
    df.location_clean.str.contains("paris") == False, "france").where(
    df.location_clean.str.contains("amsterdam") == False, "netherlands").where(
    df.location_clean.str.contains("bangalore") == False, "india").where(
    df.location_clean.str.contains("frankfurt") == False, "germany").where(

    
    
    
    df.location_clean.str.contains("london") == False, "london, uk").where(
    
    df.location_clean.str.contains("california") == False, "california, us").where(
    df.location_clean.str.contains("colorado") == False, "colorado, us").where(
    df.location_clean.str.contains("bay area") == False, "bay area, us").where(
    df.location_clean.str.contains("sf area") == False, "bay area, us").where(
    df.location_clean.str.contains("sf city") == False, "bay area, us").where(
    df.location_clean.str.contains("sf") == False, "bay area, us").where(
    df.location_clean.str.contains("san francisco") == False, "bay area, us").where(
    df.location_clean.str.contains("silicon valley") == False, "bay area, us").where(
    df.location_clean.str.contains("los angeles") == False, "los angeles, us").where(
    df.location_clean.str.contains("midwest") == False, "midwest, us").where(
    df.location_clean.str.contains("northeast") == False, "northeast, us").where(
    df.location_clean.str.contains("northwest") == False, "northwest, us").where(
    df.location_clean.str.contains("pnw") == False, "northwest, us").where(
    df.location_clean.str.contains("new york") == False, "new york, us").where(
    df.location_clean.str.contains(" ny ") == False, "new york, us").where(
    df.location_clean.str.contains("nyc") == False, "new york, us").where(
    df.location_clean.str.contains("philadelphia") == False, "philadelphia, us").where(
    df.location_clean.str.contains("philly") == False, "philadelphia, us").where(
    df.location_clean.str.contains("atlanta") == False, "atlanta, us").where(
    df.location_clean.str.contains("nashville") == False, "nashville, us").where(
    df.location_clean.str.contains("chicago") == False, "chicago, us").where(
    df.location_clean.str.contains("seattle") == False, "seattle, us").where(
    df.location_clean.str.contains("texas") == False, "texas, us").where(
    df.location_clean.str.contains("washington") == False, "washington dc, us").where(
    df.location_clean.str.contains("dmv") == False, "washington dc, us").where(
    df.location_clean.str.contains("dc") == False, "washington dc, us").where(
    df.location_clean.str.contains("portland") == False, "portland, us").where(
    df.location_clean.str.contains("denver") == False, "denver, us").where(
    df.location_clean.str.contains("ohio") == False, "ohio, us").where(
    df.location_clean.str.contains("toronto") == False, "toronto, ca")
    
    



#strip whitespace from ends of location_clean
df['location_clean'] = df.location_clean.str.strip()

In [474]:
#group by location_clean and count number of rows
df.groupby('location_clean').count().sort_values(by='date', ascending=False).head(30)

,date,title,experience,location,salary,bonus,industry,tech_stack,experience_pre_clean,experience_clean,years_experience_clean,salary_pre_clean,salary_clean,salary_currency,FX,salary_usd,industry_clean
location_clean,,,,,,,,,,,,,,,,,
"bay area, us",26,26,26,26,26,24,20,7,26,26,24,26,26,26,26,25,26
us,22,22,22,22,22,19,16,9,22,20,20,22,22,22,22,21,22
remote,20,20,20,20,20,19,18,3,20,19,19,20,20,20,20,20,20
"midwest, us",17,17,17,17,17,14,13,2,17,16,16,17,17,17,17,15,17
"new york, us",15,15,15,15,15,14,13,3,15,13,13,15,15,15,15,15,15
"london, uk",15,15,15,15,15,13,9,5,15,15,15,15,15,15,15,15,15
uk,13,13,13,13,13,13,12,5,13,10,10,13,13,13,13,11,13
"seattle, us",11,11,11,11,11,10,8,3,11,10,10,11,10,11,11,10,11
"chicago, us",10,10,10,10,10,10,8,0,10,10,10,10,10,10,10,10,10
"toronto, ca",10,10,10,10,10,9,7,4,10,10,10,10,10,10,10,10,10
germany,8,8,8,8,8,8,7,1,8,8,7,8,8,8,8,8,8
india,7,7,7,7,7,5,3,0,7,7,7,7,7,7,7,5,7
netherlands,6,6,6,6,6,6,6,2,6,4,4,6,6,6,6,6,6
"washington dc, us",6,6,6,6,6,6,5,2,6,5,5,6,6,6,6,5,6
canada,6,6,6,6,6,6,5,2,6,6,6,6,6,6,6,6,6
australia,5,5,5,5,5,3,3,1,5,5,5,5,5,5,5,4,5
"northwest, us",5,5,5,5,5,5,4,0,5,5,5,5,5,5,5,5,5
"texas, us",5,5,5,5,5,4,4,2,5,5,5,5,5,5,5,5,5
spain,4,4,4,4,4,4,3,1,4,4,4,4,4,4,4,3,4
"philadelphia, us",4,4,4,4,4,3,3,0,4,3,3,4,4,4,4,4,4
"northeast, us",4,4,4,4,4,4,4,1,4,4,4,4,4,4,4,4,4
brazil,4,4,4,4,4,4,3,1,4,3,3,4,4,4,4,4,4
"colorado, us",3,3,3,3,3,3,2,1,3,3,3,3,3,3,3,3,3
"california, us",3,3,3,3,3,3,3,0,3,3,3,3,3,3,3,3,3
"atlanta, us",3,3,3,3,3,3,2,1,3,3,3,3,3,3,3,3,3
"ohio, us",3,3,3,3,3,3,2,1,3,2,2,3,3,3,3,1,3
"los angeles, us",3,3,3,3,3,3,2,0,3,3,3,3,3,3,3,3,3
portugal,2,2,2,2,2,2,2,1,2,2,2,2,2,2,2,2,2
"portland, us",2,2,2,2,2,2,2,1,2,2,2,2,2,2,2,2,2
norway,2,2,2,2,2,2,0,0,2,2,2,2,2,2,2,2,2

In [475]:
# select only date, title, experience, location, salary_currency, salary_usd
df_final=df[['date', 'title', 'experience_clean', 'location_clean', 'salary_clean', 'salary_currency', 'salary_usd', 'industry_clean','tech_stack']]

df_final.columns=['date', 'title', 'experience', 'location', 'salary_local', 'salary_currency', 'salary_usd', 'industry','tech_stack']

In [476]:
# write to csv
df_final.to_csv('df_final.csv', index=False)

#create sqlite database
import sqlite3
conn = sqlite3.connect('../df_final.db')

#write to sqlite db
df_final.to_sql('salary_data', con=conn, if_exists='replace', index=False)

297